/** 
 * COLORS:
 * primary
 * light
 * dark
 * font
 */
body {
    padding: 0;
    margin: 0;
}
.incdx-bot .clearfix {
    clear: both;
}

button#incdx-bot-open {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    color: #fff; /*font*/
    background-color: #2b303e; /*dark*/
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 40px 30px 0px;
    outline: 0 !important;
    z-index: 10002;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
}

button#incdx-bot-open i {
    position: absolute;
}
button#incdx-bot-open i:first-child {
    transition: opacity 0.3s, transform 0.3s;
}

button#incdx-bot-open i:nth-child(2) {
    transition: opacity 0.3s, transform 0.3s;
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
}

button#incdx-bot-open.close-bot i:first-child {
    transform: rotate(180deg) scale(0.5);
    opacity: 0;
}
button#incdx-bot-open.close-bot i:nth-child(2){
    transform: rotate(0deg) scale(1);
    opacity: 1;
}

.incdx-bot#incdx-bot-wrapper {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    width: 377px;
    height: 700px;
    border-radius: 16px;
    overflow: hidden;
    right: 40px;
    opacity: 1;
    bottom: calc(2 * 30px + 52px);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
    transition: all 0.2s linear;
    z-index: 10001;
    /* color: #fff !important; */ /*font*/
}
.incdx-bot#incdx-bot-wrapper.bot-hidden {
    height: 0;
    width: 0;
    opacity: 0;
    bottom: 60px;
    right: 40px;
    z-index: 10001;
}
/* Message Card */
.incdx-bot .incdx-bot-message-card {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    font-size: 16px;
    clear: both;
    max-width: 250px;
}
.incdx-bot .incdx-message-user-request {
    background-color: #efefef;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
    color: #111 !important; /*secondary font*/
}
.incdx-bot .incdx-message-server-response {
    color: inherit !important;
    background-color: #3e4454; /*primary*/
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 15px;
    position: relative;
    user-select: none !important;
    word-break: break-word;
}
.incdx-bot .incdx-message-server-response.chip-container {
    margin-bottom: 55px;
}
.incdx-bot .incdx-message-server-response > .incdx-bot-avatar {
    background-color: inherit !important;;
    background-size: contain !important;
    background-position: center;
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.incdx-bot .incdx-message-server-response.server-response-error {
    background-color: #f76949;
}
.incdx-bot .incdx-bot_result-table tr {
    background: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
.incdx-bot .incdx-bot_result-table td {
    background: #fff !important;
    vertical-align: bottom;
    display: table-cell;
    margin: 0 !important;
    padding: 0 !important;
}
.incdx-bot .incdx-bot_result-table {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.incdx-bot #incdx-w-l{
    height: 0px;
    border: none !important;
}
.incdx-bot .incdx-bot_result {
    overflow-y: auto;
    background: #fff;
    position: absolute;
    top: 65px;
    bottom: 55px;
    width: 100%;
}
.incdx-bot .incdx-bot_header {
    min-height: 65px;
    height: 65px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #2b303e; /*dark*/
    display: table;
}
.incdx-bot .incdx-bot_header .incdx-bot_header-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.incdx-bot .incdx-bot_header .incdx-bot_header-wrapper .incdx-bot_header_header-agent-name {
    color: inherit !important;
    font-size: 1.2em;
}
.incdx-bot .incdx-bot-form_input {
    position: absolute;
    bottom: 0;
    height: 55px;
    border-top: 1px solid lightgray;
    background-color: #fff;
    width: 100%;
}
.incdx-bot #incdx-bot-form {
    display: block;
    margin-left: 15px;
    margin-right: 110px;
    height: 100%;
    background: inherit !important;
}
.incdx-bot #incdx-bot-form #incdx-bot-query {
    width: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    height: 100%;
    padding: 0;
    background: inherit;
    outline: none !important;
    box-shadow: none !important;
}
.incdx-bot #incdx-bot-form #incdx-bot-submit, .incdx-bot #incdx-bot-mic {
    position: absolute;
    font-size: 20px;
    width: 54px !important;
    height: 54px !important;
    top: 0;
    bottom: 0;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    line-height: 54px;
    background: #fff;
    color: #b7bbc4;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
}
.incdx-bot #incdx-bot-form #incdx-bot-submit {
    right: 54px;
}
.incdx-bot #incdx-bot-mic {
    right: 0;
}
#incdx-bot-mic.active #incdx-bot-mic-icon{
    display: none;
}
#incdx-bot-mic.active #mic-active-container {
    display: flex;
}
/* Mic active dots animation */
#mic-active-container {
    justify-content: space-evenly;
    width: 54px;
    height: 54px;
    position: relative;
    padding: 0px 7px;
    display: none;
}
#mic-active-container span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: all .3s;
}
#mic-active-container span:first-child {
    background: #4285f4;
}
#mic-active-container span:nth-child(2) {
    background: #db4437;
}
#mic-active-container span:nth-child(3) {
    background: #f4b400;
}
#mic-active-container span:nth-child(4) {
    background: #0f9d58;
}
@keyframes sound-1 {
    0% {
    height: 52px;
    border-radius: 30px;
    }
    10% {
    height: 40px;
    border-radius: 30px;
    }
    20% {
    height: 45px;
    border-radius: 30px;
    }
    25% {
    height: 35px;
    border-radius: 30px;
    }
    30% {
    height: 52px;
    border-radius: 30px;
    }
    40% {
    height: 37px;
    border-radius: 30px;
    }
    50% {
    height: 34px;
    border-radius: 30px;
    }
    60% {
    height: 32px;
    border-radius: 30px;
    }
    70% {
    height: 27px;
    border-radius: 30px;
    }
    80% {
    height: 32px;
    border-radius: 30px;
    }
    85% {
    height: 27px;
    border-radius: 30px;
    }
    90% {
    height: 32px;
    border-radius: 30px;
    }
    95% {
    height: 27px;
    border-radius: 30px;
    }
    100% {
    height: 15px;
    border-radius: 50%;
    }
}
@keyframes sound-2 {
    0% {
    height: 42px;
    border-radius: 30px;
    }
    20% {
    height: 32px;
    border-radius: 30px;
    }
    30% {
    height: 42px;
    border-radius: 30px;
    }
    40% {
    height: 32px;
    border-radius: 30px;
    }
    50% {
    height: 31px;
    border-radius: 30px;
    }
    60% {
    height: 30px;
    border-radius: 30px;
    }
    70% {
    height: 29px;
    border-radius: 30px;
    }
    80% {
    height: 30px;
    border-radius: 30px;
    }
    90% {
    height: 29px;
    border-radius: 30px;
    }
    100% {
    height: 15px;
    border-radius: 50%;
    }
}
.incdx-bot #incdx-bot-submit:focus,
.incdx-bot #incdx-bot-query:focus {
    outline: none;
}
/* INCDX RESPONSES */
.incdx-basic-card .incdx-basic-card-description, .incdx-basic-card span.incdx-basic-card-subtitle, .incdx-list-select .incdx-list-select-item span.incdx-list-select-item-description {
    font-size: 14px;
}
/* LIST */
.incdx-list-select {
    background-color: inherit !important;
    padding: 15px 0px;
    border-radius: 4px;
    color: inherit !important;
}
.incdx-list-select .incdx-list-select-item {
    padding: 16px 0;
    border-top: 2px solid #676f84;/*light*/
    cursor: pointer;
    min-height: 100px;
    border-color: #222 !important;
}
.incdx-list-select .incdx-list-select-title, .incdx-basic-card .incdx-basic-card-title {
    font-size: 20px;
    color: inherit !important;
    letter-spacing: 0;
    line-height: 36px;
    text-align: left;
}
.incdx-list-select .incdx-list-select-item .incdx-list-select-item-title {
    font-size: 16px;
    line-height: 24px;
}
.incdx-list-select .incdx-list-select-item .incdx-list-select-item-image {
    height: 76px;
    width: 76px;
}
.incdx-list-select .incdx-list-select-item .incdx-list-select-item-image > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0px;
}
/* CARD */
.incdx-basic-card {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}
.incdx-basic-card img.incdx-basic-card-image {
    max-width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: contain;
    padding: 10px 0px;
}
.incdx-basic-card .incdx-basic-card-button {
    padding-top: 10px;
}
.incdx-basic-card .incdx-basic-card-button > button {
    font-size: 16px;
    color: inherit;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    background-color: #676f84;/*light*/
    border: none;
    height: 35px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none !important;
    cursor: pointer;
    user-select: none;
}
.incdx-basic-card .incdx-basic-card-button > button:hover {
    opacity: 0.8;
}
/* SUGGESTIONS */
.incdx-suggestions-chips{
    display: flex;
    overflow: auto;
    width: 325px;
    position: absolute;
    left: -85px;
    bottom: -65px;
    margin-bottom: 10px;
}
.incdx-suggestions-chips .incdx-chip-container{
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
}
.incdx-suggestions-chips .incdx-chip{
    padding-left: 8px;
    -webkit-border-radius: 40px!important;
    border-radius: 40px!important;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 24px;
    border: 1px solid #eeeeee;
    text-transform: none;
    margin: 0;
    white-space: pre;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    text-align: center;
    min-width: 60px;
    outline: none !important;
    background-color: #676f84;/*light*/
}
/* END INCDX RESPONSES */
/* Layout */
.incdx-layout, .incdx-layout-column, .incdx-layout-row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.incdx-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.incdx-layout-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.incdx-flex-70, .incdx-layout-row >.incdx-flex-70 {
    -webkit-box-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 70%;
    max-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.incdx-list-select h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

